<div class="comic-group">
    <div class="row">
        <% data.forEach((motphantu)=>{%>
        <div class="col-md-3 col-sm-6 col-12 mt-2 newStory">
            <div class="card card-comic">
                <a href="/about/<%= motphantu.idStory%>">
                    <div class="img-scale">
                        <img src='<%= motphantu.avatarStory%>' class="card-img-top" alt="...">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title"><%= motphantu.nameStory%></h5>
                </div>
            </div>
        </div>
        <%})%>
        <div class="container mt-3 Pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% for(var i = 0; i<numberItem/8; i++){ %>
                        <% if(i === Item){ %>
                        <li class="page-item active"><a class="page-link" href="/page/<%= i %>"><%= i+1 %></a></li>
                        <% }else{ %>
                        <li class="page-item "><a class="page-link" href="/page/<%= i %>"><%= i+1 %></a></li>
                        <%}%>
                    <%}%>
                </ul>
            </nav>
        </div>
    </div>
</div>