<% include ../header%>
<link rel="stylesheet" href="/stylesheets/dropzone.css">

<div class="container" style='width: 70%'>
    <h1>Sửa thông tin truyện</h1>
    <form action="/detail/<%= data[0].idStory %>" method="post">
        <div class="form-group">
            <label for="ten">Tên</label>
            <input type="text" name="name" id="" class="form-control" placeholder="name Story"
                value="<%= data[0].nameStory %>">
        </div>
        <div class="form-group">
            <label for="author">Tác giả</label>
            <input type="text" name="author" id="" class="form-control" placeholder="author"
                aria-describedby="helpId" value="<%= data[0].author %>">
        </div>
        <div class="form-group">
            <label for="numchap">Số tập</label>
            <input type="text" name="numChap" id="" class="form-control" placeholder="number chap"
                aria-describedby="helpId" value="<%= data[0].numChap %>">
        </div>
        <div class="form-group">
            <label for="typestory">Type Story</label>
            <input type="text" name = "typestory" class="form-control"  placeholder="type story" value="<%= data[0].typeStory %>">
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4 mb-4">Submit</button>
    </form>
</div>
<% include ../footer %>