<% include ../header %>

<div class = "back">

<div class="container-fluid">

    <div class="row">

        <div class="col-8">
            <h3 class="mt-3 result-search"><%= data[0].nameStory%></h3>
            <div class="row">
                <div class="col-md-4 mt-md-0 mt-3">
                        <div class="card text-left">
                                <img src="<%= data[0].avatarStory%>" class= "imgAbout" alt="">
                        </div>
                </div>
                <div class="col-md-8 mt-md-0 mt-3">
                        <div class="card text-left info-story">
                                <h5>Tác giả: <%= data[0].author%></h5>
                                <h5>Số tập: <%= data[0].numChap%></h5>
                                <h5>Thể loại: hành động, phiêu lưu, thiếu nhi</h5>
                            <% if(accessAbility == 'user'){ %>
                                <div class = 'LikeAndFollow'>
                                    <a name="" id="" class="btn btn-danger mb-2" href="/like/<%= data[0].idStory %>" role="button">
                                    <% if(checkLike.length){ %>
                                        <i class="fa fa-heart"></i>
                                    <% } %>
                                    Like
                                    </a>
                                </div>
                            <% } %>
                                <a name="" id="" class="btn btn-primary" href="/read/<%= data[0].idStory%>.html" role="button">Đọc truyện</a>
                        </div>
                </div>
            </div>
            <div class="fb-comments" data-href="http://localhost:4000/about/<%= data[0].idStory%>" data-width="800" data-numposts="5"></div>
        </div>

        <div class="col-4">
        <h3 class = "mt-5">Truyện đề xuất</h3>
            <ul class="list-group">
                <% for(var i = 0; i<8; i++){ %>

                <li class="list-group-item">
                    <a href="#">

                        <img src="http://i.mangaqq.com/ebook/80x105/thu-cung-cua-em-gai-toi-la-ma-kiem_1553933947.jpg"
                            alt="" class = "story-list">
                        <a href="/about">One piece</a>

                    </a>

                </li>


                <%}%>
            </ul>
        </div>

    </div>

</div>

    
</div>


<% include ../footer %>